# ─── Secrets ──────────────────────────────
.env

# ─── Python ───────────────────────────────
Env/
Env-Windows/
__pycache__/
*.pyc

# ─── Temp Data ────────────────────────────
tmp/
Output/

# ─── IDE ──────────────────────────────────
.vscode/
.idea/

# ─── PyInstaller ──────────────────────────
dist/
build_tmp/
