# ─── Secrets ──────────────────────────────
.env

# ─── Python ───────────────────────────────
Env/
__pycache__/
*.pyc

# ─── Temp Data ────────────────────────────
tmp/
Output/

# ─── IDE ──────────────────────────────────
.vscode/
.idea/

# ─── PyInstaller ──────────────────────────
build/
dist/
*.spec
